<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kc.places">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Greenland Tourism"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Places">
        <activity android:name=".Galleryactivity" />
        <activity android:name=".Contactus" />
        <activity android:name=".Aboutpage" />
        <activity android:name=".firstpage" />
        <activity android:name=".splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>